
    <ion-card>
        <ion-card-header>
            Enjoing the {{ !!appName? appName: 'ionAppFullPlus'}} app?
        </ion-card-header>
        <ion-card-content>
            
            <p>&nbsp;</p>
            <!--***********  Rate the app  ***********-->
            <div text-center>
            <button (click)="provideFeedback()" ion-button icon-start color="gray">Not impressed</button>
            <button (click)="rateTheApp()" ion-button icon-end color="gray">It is great</button>
            </div>
        </ion-card-content>
    </ion-card>