page-signature-pad {
    .drawing-active {
        background: #3CF8EA;
      }
      .title {
        text-align: center;
        font-weight: bold;
        padding: 10px;
      }
      .icon{
          font-size: 3rem;
      }
}
